@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,600,800");
/* // https://coolors.co/adf5ff-ef6461-171219-225560-edf060 */

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: var(--ff);
}
:root {
  --ff: "Fira Sans", sans-serif;

  --fw-n: 300;
  --fw-m: 600;
  --fw-b: 800;

  --fs-2: 5rem;
  --fs-3: 2rem;
  --fs-p: 1rem;

  --primary-clr: #225560;
  --secondary-clr: #36213e;
  --secondary-clr-light: #554971;
  --accent-clr: #ef6461;

  --spacer: 1rem;
  --spacer-md: calc(var(--spacer) * 2);
  --spacer-lg: calc(var(--spacer) * 3);

  --shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  --br: 5px;
}
section {
  margin: var(--spacer) auto;
  max-width: 1200px;
}

h1 {
  font-family: var(--ff);
  font-size: var(--fs-2);
  font-weight: var(--fw-n);
}

/*card style */
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: var(--spacer-md);
  margin-top: var(--spacer-lg);
}
.card {
  border-radius: var(--br);
  box-shadow: var(--shadow);
}
.card-important {
  --primary-clr: var(--accent-clr);
}
.card-title {
  font-size: var(--fs-p);
  font-weight: var(--fw-m);
  color: white;
  text-align: center;
  background-color: var(--primary-clr);
  padding: var(--spacer);
  border-radius: var(--br) var(--br) 0 0;
}

.price {
  color: var(--primary-clr);
  font-size: var(--fs-3);
  font-weight: var(--fw-b);
}
.offer-type-bold {
  font-weight: var(--fw-m);
}
.card-body {
  margin: var(--spacer-md);
}
p {
  margin: var(--spacer);
}
button {
  color: white;
  font-weight: var(--fw-m);
  background-color: var(--primary-clr);
  padding: var(--spacer) var(--spacer-lg);
  border-radius: var(--br);
  border: none;
  margin: var(--spacer);
}
